body {
    background: black;
}

.clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60 px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7 px;
}

.text1 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 50 px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7 px;
}

.text2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40 px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7 px;
    margin-right: 100 px;
    margin-left: 100 px;
}

img {
    margin-top: 120 px;
    width: 17%;
}
